<link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline.css"/>
<div id="waline" class="waline-container"></div>
<style>
    /* 评论区整体样式-by 失迹的博客 */
    .waline-container {
        background-color: var(--card-background);
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
        padding: var(--card-padding);
        --waline-font-size: var(--article-font-size);
    }
    .waline-container .wl-count {
        color: var(--card-text-color-main);
    }
    /* 暗色模式下输入框背景 */
    [data-scheme="dark"] .wl-panel {
        background: #212121;
    }
    /* 提交按钮基础样式 */
    .wl-btn.primary {
        background: var(--body-text-color);
        border: none;
    }
    /* 提交按钮悬停&激活状态 */
    .wl-btn.primary:hover, .wl-btn.primary:active {
        border: none;
        background: var(--light-red);
    }
    /* 按正序、……悬停&激活状态 */
    .wl-sort li {
        transition: color 0.2s ease-in-out;
        &:hover {
            color: var(--body-text-color);
        }
        &.active {
            color: var(--light-red);
        }
    }
    /* markdown按钮与悬停状态 */
    [data-waline] a {
        color: var(--body-text-color);
        transition: color 0.2s ease-in-out;
        &:hover {
            color: var(--light-red)
        }
    }
    /* 删除、点赞、回复、编辑按钮悬停&激活状态 */
    .wl-card .wl-delete, .wl-card .wl-like, .wl-card .wl-reply, .wl-card .wl-edit {
        transition: color 0.2s ease-in-out;
        &:hover, &.active {
            color: var(--light-red);
        }
    }
    /* 登录按钮悬停&激活 */
    .wl-btn:hover, .wl-btn:active {
        border-color: var(--light-red);
        color: var(--light-red);
    }
    /* 表情、gif、图片、预览，悬停&激活状态 */
    .wl-action {
        transition: color 0.2s ease-in-out;
        &:hover, &.active{
            color: var(--light-red);
        }
    }
    /* 昵称等标签栏（= =艰难对齐） */
    .wl-header label {
        font-size: 1.4rem;
        padding-top: 1.8rem;
        padding-left: 2rem;
        padding-right: 0;
    }
    /* 主输入框间距 */
    .wl-editor {
        padding-left: 1.6rem;
        padding-top: 0.5rem;
    }
    /* 昵称等栏输入框：间距、圆角、字体大小 */
    .wl-header input {
        margin: 1rem;
        border-radius: 4px;
        font-size: 1.4rem;
    }
    /* 预览两个字的颜色 */
    .wl-preview h4 {
        color: var(--body-text-color);
    }
    /* 去掉认证符号背景 */
    .wl-cards .wl-user .verified-icon {
        background: none;
    }
    /* gif栏搜索框背景色、间距、圆角、输入符 */
    .wl-gif-popup input {
        background-color: var(--card-background);
        padding-left: 1.6rem;
        border-radius: 8px;
        &:focus-visible {
            color: var(--body-text-color);
        }
    }
    /* gif栏图片悬停效果与样式调整 */
    .wl-gif-popup img {
        border-radius: 8px;
        border: none;
        transition: all 0.2s ease-in-out;
        &:hover {
            border-radius: 8px;
            mask: linear-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.75) 100%);
        }
    }
    /* 去掉表情悬停时背景 */
    .wl-emoji-popup button:hover {
        background: none;
    }
    /* 表情悬停效果：放大+旋转 */
    .wl-emoji-popup .wl-emoji {
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: scale(1.5) rotate(-15deg);
        }
    }
    /* 不显示评论ip和设备环境等 */
    .wl-card .wl-meta>span {
        display: none;
    }
    /* 设置上一条的同时调整评论文字位置弥补空缺 */
    .wl-card .wl-content {
        padding-top: 0;
    }
</style>

{{- $showReaction := (default true .Params.reaction) -}}
{{- with .Site.Params.comments.waline -}}
{{- $config := dict "el" "#waline" "dark" `html[data-scheme="dark"]` -}}
{{- $replaceKeys := dict "serverurl" "serverURL" "requiredmeta" "requiredMeta" "wordlimit" "wordLimit" "pagesize" "pageSize" "imageuploader" "imageUploader" "texrenderer" "texRenderer" "commentsorting" "commentSorting" "recaptchav3key" "recaptchaV3Key" "turnstilekey" "turnstileKey" -}}
{{- $replaceLocaleKeys := dict "reactiontitle" "reactionTitle" "gifsearchplaceholder" "gifSearchPlaceholder" "nickerror" "nickError" "mailerror" "mailError" "wordhint" "wordHint" "cancellike" "cancelLike" "cancelreply" "cancelReply" "uploadimage" "uploadImage" -}}

{{- range $key, $val := . -}}
    {{- if ne $val nil -}}  
        {{- $replaceKey := index $replaceKeys $key -}}
        {{- $k := default $key $replaceKey -}}

        {{- if eq $k "locale" -}}
            {{- $locale := dict -}}
            {{- range $lkey, $lval := $val -}}
                {{- if ne $lval nil -}}  
                    {{- $replaceLKey := index $replaceLocaleKeys $lkey -}}
                    {{- $lk := default $lkey $replaceLKey -}}

                    {{- $locale = merge $locale (dict $lk $lval) -}}
                {{- end -}}
            {{- end -}}
            {{- $config = merge $config (dict $k $locale) -}}
        {{- else if eq $k "reaction" -}}
            {{- $config = merge $config (dict $k (cond $showReaction $val false)) -}}
        {{- else -}}
            {{- $config = merge $config (dict $k $val) -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

<script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';
    init({{ $config | jsonify | safeJS }});
</script>
{{- end -}}
