html {
    font-size: 62.5%;
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--body-background);
    margin: 0;
    font-family: var(--base-font-family);
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* scrollbar styles for Firefox */
* {
    scrollbar-width: auto;
}

[data-scheme="light"] {
    scrollbar-color: var(--scrollbar-thumb) transparent;
}

[data-scheme="dark"] {
    scrollbar-color: var(--scrollbar-thumb) #000;
}

/* scrollbar styles for Chromium */
::-webkit-scrollbar {
    height: auto;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}

[data-scheme="light"]::-webkit-scrollbar-track {
    background-color: #ffffff;
}

[data-scheme="dark"]::-webkit-scrollbar-track {
    background-color: #000000;
}